.home-info {
  position: relative;
  z-index: 1; /* above background */
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  color: white;
  padding: 80px 24px;

  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 16px;
  }

  p {
    line-height: 1.7;
    margin: 12px 0;
    font-weight: 300;
  }
}
