.project-list {
  .body {
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    gap: 2rem;

    .text-container {
      position: relative;
      cursor: pointer;
      transition: transform 0.2s;
      transform-style: preserve-3d;
      width: fit-content;
      a {
        font-size: 5vw;
        font-weight: 700;
        margin: 0px;
        transition: all 0.4s;
        color: white;
        line-height: 5vw;
        display: block;
        text-decoration: none;
      }
      .secondary {
        transform: rotateX(-90deg) translateY(2.5vw);
        transform-origin: bottom center;
        position: absolute;
        top: 0;
        color: #ccff00;
        opacity: 0;
      }

      &:hover {
        transform: rotateX(90deg);
        .primary {
          transform: translateY(-100%);
          opacity: 0;
        }
        .secondary {
          opacity: 1;
        }
      }
    }
  }
}
